<app-header></app-header>
<div id="order-page">
  <section class="section-page-header">
    <div class="container">
      <h1 class="entry-title">Order Success</h1>
    </div>
  </section>
  <section class="section-page-content">
    <div class="container">
      <div class="row">        
        <div class="col-md-12 section-order-details-event-info">
          <h2>Your Order Has Been Placed Successfully.</h2>
        </div>
        <div class="col-sm-6 offset-md-3 col-md-3 text-center">
          <p>To Place More Orders</p>
          <a class="go-back" routerLink="/cart">Go To Cart</a>
        </div>
        <div class="col-sm-6 col-md-3 text-center">
          <p>To View More Events</p>
          <a class="go-back" routerLink="/events">Go To Events</a>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>