<app-header></app-header>
<div id="reset-password-page" class="reset-password-page">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 offset-md-2 col-md-8 col-sm-12">
        <div class="box">
          <h2>Password Reset Form</h2>
          <form method="post" (ngSubmit)="resetPwd()" #f="ngForm">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="password" name="newPassword" id="newPassword" placeholder="New Password" class="form-control" ngModel #newPassword="ngModel"
                    required />
                  <span class="help-block" *ngIf="!newPassword.valid && newPassword.touched">
                    Please enter new password!
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="password" name="verifyNewPassword" id="verifyNewPassword" placeholder="Verify New Password" class="form-control"
                    ngModel #verifyNewPassword="ngModel" required />
                  <span class="help-block" *ngIf="!verifyNewPassword.valid && verifyNewPassword.touched">
                    Please enter new password again!
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="offset-md-3 col-md-6 clearfix sendBtn">
                  <input type="submit" class="submit-btn" value="Reset Password" [disabled]="!f.valid" />
                </div>
                <div class="col-md-3 text-right go-back">
                  <a routerLink="/login">Go Back to Login?</a>
                </div>
              </div>
            </div>
          </form>
          <div class="form-error" *ngIf="errorFlag">
            <p>{{errorMsg}}</p>
          </div>
          <div class="form-success" *ngIf="successFlag">
            <p>{{successMsg}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
