// Imports
@import "../../../sass/_variables.scss";
@import "../../../sass/_mixins.scss";
@import "../../../sass/_extend.scss";

.reset-password-page {
    padding: 80px 0;
    .box {
        @extend %box;
    }
    .go-back {
        a {
            position: $absolute;
            right: 15px;
            top: 50%;
            width: 100%;
            margin-top: -10px;
            color: $link-orange;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Media Queries
@media (max-width: 992px) {
    .reset-password-page {
        .go-back {
            a {
                top: auto;
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .reset-password-page {
        .go-back {
            a {
                position: $relative;
                display: $block;
                right: auto;
                text-align: $center;
                margin-top: 20px;
            }
        }
        .sendBtn {
            text-align: $center;
        }
    }
}