.section-page-header .entry-title{
	margin:0;
	font-size:28px;
	color:#b3b3b3;
	text-align:center;
	text-transform:uppercase;
	border:none;
	padding:0
}

.section-artist-page-header .entry-title {
    border: medium none;
    color: #b3b3b3;
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: none;
}

.section-page-header{
	background:#fafafa;
	border-top:1px solid #cecece;
	border-bottom:1px solid #cecece;
	margin:0;
	padding:40px 15px;
}
